body {
    margin: 0px;
    background-color: #00a2ff;
    font-family: 'Raleway', sans-serif;
}

.container {
    position:relatve;
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    box-shadow: -2px -2px 5px white,2px -2px 5px white;
  }

.wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    padding: 10px;
    text-transform: uppercase;
    overflow: hidden;

}

.title {
    font-size: 1.5em;
    line-height: 1px;
    padding: 0 .25em;
    color: white
}

.left-title {
    font-size: 1em;
    font-weight: bold;
}

.right-title {
    font-size: 1em;
    padding-left: 6px;
    color: red;
}

.navigation {
    display: flex;
    list-style-type: none;
}

li {
    opacity: 1;
    list-style-type: none;
    justify-content: space-around;
    font-size: 22px;
    color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.parent {
    padding: 0 100px;
    cursor: pointer;
}

.right-nav {
    display: flex;
    margin-bottom: 5px;
}

.username-picture {
    color: white;
    margin-right: 1.2em;
}

.wrapper > .left-nav > div {
    margin-right: 20px;
    font-size: 1em;
    text-transform: uppercase;
}

.page-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
}

.page-wrapper, a {
    color: white;
    text-decoration: none;
    transition: color .5s;
}

.page-wrapper, a:hover {
    color: red;
}

.all{
    display: inline-block;
    zoom: 1;
    width: 28%;
    text-align: center; 
}

.game_style {
    color: black ;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}
.genre_style {
    color: black;
    font-size: 20px;
    text-align: center;
}
.all_style {
    color: black;
    font-size: 20px;  
    display: block;
    text-align: center;
}

.interested {
    background-color: #4CAF50;
    border: bold;
    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.interested:hover {
    background-color: #33cc33;
    border: bold;
    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.not_interested {
    background-color: red;
    border: bold;
    color: black;
    padding: 15px 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.not_interested:hover {
    background-color: #990000;
    border: bold;
    color: black;
    padding: 15px 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.logsign {
    color: black;
    font-size: 30px;
    display: flex;
    zoom: 1;
    width: 50%;
    text-align: center;
}