body {
    margin: 0px;
    background-color: #00a2ff;
    font-family: 'Raleway', sans-serif;
}

.container {
    position:relatve;
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    box-shadow: -2px -2px 5px white,2px -2px 5px white;
  }

.wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222;
    padding: 10px;
    text-transform: uppercase;
    overflow: hidden;

}

.title {
    font-size: 1.5em;
    line-height: 1px;
    padding: 0 .25em;
    color: white
}

.left-title {
    font-size: 1em;
    font-weight: bold;
}

.right-title {
    font-size: 1em;
    padding-left: 6px;
    color: red;
}

.navigation {
    display: flex;
    list-style-type: none;
}

li {
    opacity: 1;
    list-style-type: none;
    justify-content: space-around;
    font-size: 22px;
    color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.parent {
    padding: 0 100px;
    cursor: pointer;
}

.right-nav {
    display: flex;
    margin-bottom: 5px;
}

.username-picture {
    color: white;
    margin-right: 1.2em;
}

.wrapper > .left-nav > div {
    margin-right: 20px;
    font-size: 1em;
    text-transform: uppercase;
}

.page-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
}

.page-wrapper, a {
    color: white;
    text-decoration: none;
    transition: color .5s;
}

.page-wrapper, a:hover {
    color: red;
}

.login {
    width: 400px;
    background-color: rgb(177, 174, 174);
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 150px auto;
    border: 2px solid black;
}

.login h1 {
    text-align: center;
  	color: red;
  	font-size: 40px;
  	padding: 0 0 10px 0;
  	border-bottom: 1px solid #dee0e4;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: black;
    color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: red;
    border: 0;
    border-top: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: black;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: black;
  color: white;
    transition: background-color 0.2s;
}

.login form a {
    width: 100%;
    padding: 15px;
    background-color: red;
    border: 0;
    border-top: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: black;
    transition: background-color 0.2s;
}

.login form a:hover {
    background-color: black;
    color: white;
      transition: background-color 0.2s;
  }